<div class="border-b border-gray-200 px-4 py-4 flex items-center sm:justify-between sm:px-6 lg:px-8">
  <div class="flex min-w-0 w-1/2">
    <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
      Editar perfil
    </h1>
  </div>
</div>
<div class="flex-1 flex flex-col py-3 px-2 sm:px-1 lg:flex-none lg:px-10 xl:px-12 ">
  <div class="w-full max-w-sm lg:w-96">
    <div class="flex w-full ">
     
    </div>
    <div class="mt-8">
      <div class="mt-6">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="flex w-full justify-center items-center">
          <img id="avatar" class="border-2 border-primary block h-32 w-32 sm:w-18 md:w-24 lg:w-32 sm:h-18 md:h-24 lg:h-32 rounded-full mx-auto md:mr-0 sm:mb-0 sm:mr-4 sm:ml-0" src="<%= resource.avatar? ? resource.avatar.thumb.url : 'https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U' %>" alt="">
        </div>
        <div class="field">
            <%= f.label :avatar, class: "block text-sm font-medium text-gray-700"  %>
            <%= f.file_field :avatar %>
          </div>


         <div class="field">
            <%= f.label :nombre, class: "block text-sm font-medium text-gray-700"  %>
            <%= f.text_field :name, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
       <div class="field">
            <%= f.label :apellido, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :last_name, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>

           <div class="field">
            <%= f.label :fecha_de_nacimiento, class: "block text-sm font-medium text-gray-700" %>
            <%= f.date_field :birthday, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>

          <div class="field">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :email, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>

  <div class="field">

          <div class="field">
            <%= f.label :password, class: "block text-sm font-medium text-gray-700"  %><i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", autocomplete: "new-password"  %>
          </div>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", data: { confirm: "Are you sure?" }, method: :delete %> </p>

