<!-- Page title & actions -->
<div class="border-b border-gray-200 px-4 py-4 flex items-center sm:justify-between sm:px-6 lg:px-8">
  <div class="flex min-w-0 w-1/2">
    <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
      Tareas en servicio
    </h1>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col mt-4">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <% if current_user.teacher? %>
                Estudiante
              <% else %>
                Tutor
              <% end %>
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Nombre
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Estado
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Precio
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Fecha de entrega
            </th>
            <th scope="col" class="relative px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @tutorings.each do |tutoring| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <% unless current_user.teacher? %>
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="<%= tutoring.teacher.avatar? ? tutoring.teacher.avatar.thumb.url : 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60'%>" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      <%= tutoring.teacher.name %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= tutoring.teacher.email %>
                    </div>
                  </div>
                </div>
                <% else %>
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="<%= tutoring.homework.student.avatar? ? tutoring.homework.student.avatar.thumb.url : 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60'%>" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      <%= tutoring.homework.student.name %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= tutoring.homework.student.email %>
                    </div>
                  </div>
                </div>
                <% end %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                <%= tutoring.homework.name %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  <%= tutoring.state %>
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <%= tutoring.due_date != nil ? tutoring.due_date.strftime("%Y/%m/%d") : '' %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium text-indigo-600">
                <%= link_to 'Ver  ', tutoring, class: "text-indigo-600 hover:text-indigo-900" %>
              </td>
            </tr>
          <% end %>
          <!-- More rows... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>