<%= link_to 'Edit', edit_tutoring_path(@tutoring) %> |
<%= link_to 'Back', tutorings_path %>


<div class="grid grid-cols-2 gap-4 mt-8 h-full">
  <div class="col-span-1 px-4">
    <div class="px-4 py-6 sm:px-6">
      <div class="flex items-start justify-between">
        <h2 class="text-lg font-medium text-gray-900">
          Seguimiento y control
        </h2>
      </div>
    </div>
    <ul class="-mb-8">
      <li>
        <div class="relative pb-8">
          <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex items-start space-x-3">
            <div class="relative">
              <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=256&amp;h=256&amp;q=80" alt="">

              <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
              <!-- Heroicon name: chat-alt -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
              </svg>
            </span>
            </div>
            <div class="min-w-0 flex-1">
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">Eduardo Benz</a>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">
                  Commented 6d ago
                </p>
              </div>
              <div class="mt-2 text-sm text-gray-700">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex items-start space-x-3">
            <div class="relative">
              <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=256&amp;h=256&amp;q=80" alt="">

              <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
              <!-- Heroicon name: chat-alt -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
              </svg>
            </span>
            </div>
            <div class="min-w-0 flex-1">
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">Eduardo Benz</a>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">
                  Commented 6d ago
                </p>
              </div>
              <div class="mt-2 text-sm text-gray-700">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex items-start space-x-3">
            <div class="relative">
              <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=256&amp;h=256&amp;q=80" alt="">

              <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
              <!-- Heroicon name: chat-alt -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
              </svg>
            </span>
            </div>
            <div class="min-w-0 flex-1">
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">Eduardo Benz</a>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">
                  Commented 6d ago
                </p>
              </div>
              <div class="mt-2 text-sm text-gray-700">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <div class="relative flex items-start space-x-3">
            <div class="relative">
              <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=256&amp;h=256&amp;q=80" alt="">

              <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
              <!-- Heroicon name: chat-alt -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
              </svg>
            </span>
            </div>
            <div class="min-w-0 flex-1">
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">Jason Meyers</a>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">
                  Commented 2h ago
                </p>
              </div>
              <div class="mt-2 text-sm text-gray-700">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam. Scelerisque amet elit non sit ut tincidunt condimentum. Nisl ultrices eu venenatis diam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

    </ul>

    <div class="col-span-6 sm:col-span-6 mt-6">
      <%= text_area "", :description, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>
    <div class="flex items-center sm:justify-between mt-2">
      <div class="flex sm:mt-0 sm:ml-4 w-full justify-end text-white">
        <%= link_to 'Enviar', "#", class: "order-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md  bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-1 sm:ml-3" %>
      </div>
    </div>
  </div>
  <div class="col-span-1 border-l-2 px-4">
    <% @homework = Homework.first %>
    <div class="flex w-full">
      <div class="h-full flex w-full flex-col">
        <div class="px-4 py-6 sm:px-6">
          <div class="flex items-start justify-between">
            <h2 id="slide-over-heading" class="text-lg font-medium text-gray-900">
              <%= @homework&.name %>
            </h2>
          </div>
        </div>
        <!-- Main -->
        <div>
          <div class="pb-1 sm:pb-6">
            <div>
              <div class="relative h-40 sm:h-56">
                <div class="flex justify-center h-full w-full object-cover bg-red-500 text-white items-center font-semibold text-2xl capitalize">
                  <%= @homework&.subject&.name %>
                </div>
                <!--                    <img class="absolute h-full w-full object-cover" src="https://images.unsplash.com/photo-1501031170107-cfd33f0cbdcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=600&q=80" alt="">-->
              </div>
              <div class="mt-6 px-4 sm:mt-8 sm:flex sm:items-end sm:px-6">
                <div class="sm:flex-1">
                  <div>
                    <div class="flex items-center">
                      <h3 class="font-bold text-xl text-gray-900 sm:text-2xl"><%= @homework&.student&.name %></h3>
                      <span class="ml-2.5 bg-green-400 flex-shrink-0 inline-block h-2 w-2 rounded-full">
                          <span class="sr-only">Online</span>
                        </span>
                    </div>
                    <p class="text-sm text-gray-500"><%= @homework&.student&.email %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 pt-5 pb-5 sm:px-0 sm:pt-0">
            <dl class="space-y-8 px-4 sm:px-6 sm:space-y-6">
              <div>
                <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
                  Descripción
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
                  <p>
                    <%= @homework&.description %>
                  </p>
                </dd>
              </div>
              <div>
                <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
                  Precio
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
                  <%= number_to_currency(@homework&.price) %>
                </dd>
              </div>
              <div>
                <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
                  Fecha de entrega
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
                  <%= @homework&.due_date %>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


