<div class="container mx-auto mt-4">
<% flash.each do |key, value| %>
  <div id="flash">
    <% unless key.to_s == 'timedout'%>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div id="flash2" class="rounded-md bg-<%= alert_class[key] %>-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <i class="fas fa-<%= icon_alert[key] %> text-<%= alert_class[key] %>-400 h-5 w-5"></i>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-<%= alert_class[key] %>-800">
              Atención
            </h3>
            <div class="mt-2 text-sm text-<%= alert_class[key] %>-700">
              <p>
                <%= value %>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
    <% end %>
  <% end %>
</div>
