<p id="notice"><%= notice %></p>

<h1>Homeworks</h1>

<table>
  <thead>
    <tr>
      <th width='3%'></th>
      <th width='3%'></th>
      <th width='25%'>Nombre</th>
      <th width='25%'>Descripcion</th>
      <th width='20%'>Precio</th>
      <th width='20%'>Fecha de entrega</th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.name %></td>
        <td><%= homework.description %></td>
        <td><%= homework.price %></td>
        <td><%= homework.due_date != nil ? homework.due_date.strftime("%Y/%m/%d") : '' %></td>

        <td><%= link_to 'Show', homework %></td>
        <td><%= link_to 'Edit', edit_homework_path(homework) %></td>
        <td><%= link_to 'Destroy', homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework', new_homework_path %>
