<!DOCTYPE html>
<html>
<head>
  <title>AAAUfps</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%=  stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload'  %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="min-h-screen bg-white flex">
    <div class="hidden lg:block relative w-0 flex-1">
      <img class="absolute inset-0 h-full w-full object-cover" src="https://i2.wp.com/www.additudemag.com/wp-content/uploads/2016/11/School.Homework.ADHD_at_school_remembering_to_turn_in_assignments.Article.5951A.chalkboard_homework.ts_467588985-3.jpg?w=1024&quality=1#038;ssl=1" alt="">
    </div>
    <%= yield %>
  </div>
</body>
</html>
